.projects {
  padding-top: 100px;
}
.project-card {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.projects-section-title {
  border-top: 6px solid #ff725e;
  width: 180px;
  margin-bottom: 40px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
.project-title {
  color: #ff725e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.project-description {
  font-size: 14px;
  margin-bottom: 15px;
}
.project-tool {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 10px;
  border: 1px solid #ff725e;
  padding: 2px 5px 2px;
  border-radius: 2px;
}
.project-img {
  width: 40vw;
  float: right;
}
.link-icon {
  color: white;
  margin-top: 10px;
}
.link-icon:hover {
  color: #ff725e;
  transition: 0.5s;
}
@media only screen and (max-width: 720px) {
  .project-card {
    flex-direction: column;
  }
  .left {
    text-align: left;
  }
  .project-img {
    width: 95vw;
  }
}
@media only screen and (max-width: 320px) {
  .project-description {
    font-size: 12px;
  }
}
