.contact-title {
  border-top: 6px solid #ff725e;
  width: 180px;
  margin-bottom: 40px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
#contact {
  padding-top: 100px;
}
.contact-list {
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}
.contact-link {
  margin: 0px 15px 0px;
  display: inline-block;
}
.contact-icon {
  color: white;
}
.contact-icon:hover {
  color: #ff725e;
  transition: 0.5s;
}
