html {
  scroll-behavior: smooth;
}
body {
  margin: 60px;
  margin-left: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #300a24;
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 760px) {
  body {
    margin-top: 80px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 570px) {
  body {
    margin-left: 2%;
    font-size: 11px;
  }
}
@media only screen and (max-width: 570px) {
  body {
    margin-left: 1%;
    font-size: 9px;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 8px;
  }
}
a {
  text-decoration: none;
}
i {
  color: #3d5db9;
}
i:hover {
  color: #729fcf;
}
.cmd {
  color: #86e033;
}
.cout {
  color: #e0e0e0;
}
