html {
  scroll-behavior: smooth;
}
body {
  margin: 60px;
  margin-left: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
}
@media only screen and (max-width: 760px) {
  body {
    margin-top: 80px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 570px) {
  body {
    margin-left: 2%;
    font-size: 11px;
  }
}
@media only screen and (max-width: 570px) {
  body {
    margin-left: 1%;
    font-size: 9px;
  }
}
@media only screen and (max-width: 400px) {
  body {
    font-size: 8px;
  }
}
a {
  text-decoration: none;
}
i {
  color: #4deeea;
}
i:hover {
  text-decoration: underline;
}
.cmd {
  color: #74ee15;
}
.cout {
  color: #ffffff;
}

@keyframes slidInFromBottom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  animation: 1s ease-out 0s 1 slidInFromBottom;
}
